*{
    margin: 0 ;
    padding:0 ;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

:root {
    --front-height: 296vh ;
}

#del-forno {
    /* height: calc(var(--front-height) + 100.5vh) ; */
    height: auto ;
    width: 100%;
    position: relative;

}

.section {
    width: 100% ;
}

#front {
    border: 4px solid aqua ;
    height: var(--front-height) ;
    z-index: 2 ;
    position: absolute;
}

#back {
   border: 4px solid blue ;;
    height: calc(var(--front-height) + 61.5vh);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

}

#empty {
    height: 172vh ;
    border:4px solid grey;
}

#back-content {
    height: 100vh;
    border: 6px solid red;
    position: absolute;
    position: sticky;
    position: -webkit-sticky;
    top: 0 ;
    left: 0;

}


#banner {
    height:inherit ;
    border: 2px solid green;
    z-index: -1 ;
    position: absolute;
    top: 0 ;
    left: 0;

}

#nav-bar{
    /* border:2px solid red; */
    height: 8vh;
    margin-top: 50px;
    padding: 0px 350px;
    z-index: 1;
    position: sticky;
    top: 0 ;
    display: flex;
}

#nav-bar img {
 position: relative;   
 top:2px ;
 left: -25px ;  
}

#nav-logo {
    width: fit-content;
}

#order-button {
    height: 8vh;
    width: 14vh;
    background: transparent;
    border: 1px solid red;
    color:white ;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -1px;
    position: fixed;

}

@keyframes order-button-hover {
    from{height:0;background-color: red;}
    to{background-color: red;}
}

.button-div {
   height: 100%;
   width: 14vh;
}

.button-div:hover{

animation: order-button-hover 1s linear ;
animation-direction: reverse;
}

#nav-content {
    height: 100% ;
    width: 100%;
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
}

#nav-links {
    height: 100% ;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    color: white ;


}

#nav-links a {
    display: inline-block;
    padding: 20px 15px;
    font-size: 14px ;
    font-weight: bold;
}

.nav-icon {
    margin-left: 5px ;
}

#nav-links a:hover {
    color: red ;
    cursor: grab;
}


.link-icon:hover .nav-icon {
    transform: rotateX(180deg);
    transition: 0.5s ;
}

#home-link {
    color: red;
}

#header {
    border: 2px solid hotpink ;
    height: 100vh;
    padding: 50px 60px;
    position: relative;
    background-color: black;
   
   
     
}

#header-content {
   
    border: 2px solid yellow;
    height: 100%;
  

}

#second-section {
    border: 2px solid black;
    height: 68vh;
    background-color: white;
}

#third-section {
    border: 6px solid blue;
    height: 45vh;
  
}

#fourth-section {
    border: 2px solid goldenrod;
    height: 83vh;
    background-color: white;
}

#background-image {
    border:5px solid brown;
    height: calc(100vh - 61.5vh);

}

#footer {
    border: 5px solid blueviolet ;
    height: 61.5vh ;
   
}

#first-footer {
    border: 1px solid hotpink ;
    height: 52vh;

}

#second-footer {
    border: 1px solid orange ;

}