*{
    margin: 0 ;
    padding:0 ;
    box-sizing: border-box;
    font-family: "Oswald", cursive;

}

:root {
    --front-height: 2710px ;
    --footer-height: 555px ;
}

 /* WIRE FRAME */

#del-forno {
    height: auto ;
    width: 100vw;
    position: relative;
    scroll-behavior: smooth;

}

.section {
    width: 100% ;
}

#front {
    height: var(--front-height) ;
    z-index: 2 ;
    position: absolute;
    scroll-behavior: smooth;
    /* visibility: hidden; */
}

#back {
    height: calc(var(--front-height) + var(--footer-height));
    position: absolute;
    top: 0;
    left: 0;
    scroll-behavior: smooth;  
    
    transition: 2s;


}

#back-container {
    z-index: -1;
    height: inherit;
  
}

#bg-img {
    position: fixed;
    filter:brightness(50%);
    width: 100%;
  
    
}



#back-img {
    height: 1860px ;
    display: flex;
  
  
}

#stopper {
    height: calc(100vh - var(--footer-height));
    width: 100%;
    align-self:flex-end;
    border: 5px solid blue;

}

#sticky {
    height: 100vh;
    position: sticky !important;
    position: -webkit-sticky;
    top: 0 ;
    left: 0;
  
    border: 2px solid black;

}


#banner {
    height:inherit ;
    z-index: -1 ;
    position: absolute;
    top: 0 ;
    left: 0;

}

/* NAVIGATION BAR  */

#nav-bar{
    background-color: rgba(0,0,0,0.5);
    height: 8vh;
    margin-top: 50px;
    padding: 0px 350px;
    z-index: 1;
    position: sticky;
    top: 0 ;
    display: flex;
}

#nav-bar img {
 position: relative;   
 top:2px ;
 left: -25px ;  
}

#nav-logo {
    width: fit-content;
}

.order-button {
    height: 72px;
    width: 144px;
    background: transparent;
    border: 1px solid red;
    color:white ;
    font-size: 15px;
    font-weight: bold;

}

@keyframes order-button-hover {
    from{height:0;background-color: red;}
    to{background-color: red;}
}

.button-div {
   height: 100%;
   width: 144px;
}

.button-div:hover{

    animation: order-button-hover 1s linear ;
    animation-direction: reverse;
    cursor: grab;

}

#nav-content {
    height: 100% ;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav-links {
    height: 100% ;
    display: flex;
    justify-content: center;
    color: white ;
    padding: unset;


}

.nav-link {
    display: inline-block;
    padding: 25px 15px;
    font-size: 14px ;
    font-weight: bold;
    
}

#nav-links li{
    list-style-type: none;
    height: 100%;

}

.nav-dropdown-content {
    height: auto ;
    width: 200px ; 
    margin-top: 11px;
    border: 1px solid gray ;
    background-color: rgba(0,0,0,0.5);
    padding: 0px 15px 20px 15px;
    font-size: 11px;
    font-weight: bold;
}

.nav-dropdown {
   
    height: auto ;
    width: 153px;
    position: absolute;
    display: none;
   
}

.nav-dropdown a {
    display:block;
    padding-top: 20px;
}

.nav-dropdown a:hover {
    color: red;
    cursor: grab;
}

.nav-icon {
    margin-left: 5px ;
}

.nav-link:hover { 
    color: red ;
    cursor: grab;
}


.link-icon:hover .nav-icon {
    transform: rotateX(180deg);
    transition: 0.5s ;
}

@keyframes dropdowns-in {
    from{top: 100px}
    to{top:60px}
}

.link-icon:hover .nav-dropdown {
    display: block;
    animation:dropdowns-in 0.2s ease-in ;
}

.nav-dropdown:hover{
    display: block;
    cursor: grab;
}

#home-link {
    color: red;
}


/* SWIPER */

.swiper {
    width: 100%;
    height: 100%;
    position: absolute;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: relative;
    background-color: rgba(0,0,0,0.5);
   
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    
  
  
  }

  .autoplay-progress {
    
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    transition: 3s;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
    visibility: hidden;
  }

#time {
    visibility: hidden;
}

.swiper-button-next {
    color: white ;
}


/* HEADER CONTENT */

#header {
    height: 100vh;
    position: relative;
    
   
     
}

#header-content {
    pointer-events: none;
    padding: 50px 60px;
    z-index: 1;
    height: 100%;
    width:inherit ;
    position: absolute;
    top:0 ;
    left: 0;
  
   
}

#header-border{
    width: 100% ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-border {
    width: 100% ;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.header-border div {
    width: 100px ;
    height: 100%;
    border: 1px dotted lightgray;
}

.top-header-border div {
    border-bottom: none;
}

.bottom-header-border div {
    border-top: none;
}

.header-border-right {
    border-left: none !important;
}

.header-border-left {
    border-right: none !important;
}


.headings-container {
    position: absolute;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white ;
    z-index: 2;
    background-color: rgba(0,0,0,0.4)

}

.headings-container h1 {
    font-size: 58px;
    margin-top: 25px;
    word-spacing: 13px;
}

.headings-container h2 {
    font-size: 24px;
    margin: 25px 0 25px;
}

.header-button a {
    height: 54px ;
    width: 180px;
    background-color: #ed1c24;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
}

.header-button {
    width: auto;
    height: auto;
}


.top-border {
    background-color: lightgray ;
    height: 1px;
    width: 3%;
    margin: 10px;
    opacity: 0.7;
}

.bottom-border {
    width:500px;
    height:3px;
    display: flex;
  
}

.line {
    background-color: #fff ;
    opacity: 0.3;
    height: 1px;
    width: 150px;  
    display: inline;
    margin: 0 60px;
}
.dot {
    color: white;
    
}
.dot-icon {
    font-size: 7px;
    text-align: center;
    height: 10px;

}

.header-button a:hover, #second-section button:hover{
 color:#ed1c24;
 background-color: white;
 cursor: grab;
 transition: 0.5s;
}

.button-arrow {
    font-size: 15px ;
    opacity: 0.7;
    margin-left: 30px;
}

/* SECOND SECTION - PIZZA|PASTA|GRILL  */

#second-section {
    height: 612px;
    padding: 35px 0px 0px 0px ;
    display:flex ;
    justify-content: center;
    background-color: #fff;
   
}

#second-section h2 {
    color: #616161; ;
    font-size: 20px ;
    padding-top: 65px;

}

#second-section h3 {
    color:#616161 ;
    font-size: 30px;
    margin: 15px 0 ; 
}

.red-heading {
    color: #ed1c24;
   
}

.red-line {
    width: 60px ;
    height: 5px ;
    border-top: 5px dotted #ed1c24 ;
}

#second-section p {
  margin: 20px 0px 0 0 ;
  font-weight: 400;
  color: #5e646a;
  font-size: 14px;
  font-family: "Roboto",sans-serif;
  line-height: 1.5;
}

#second-section button {
    background-color: #ed1c24;
    width: 162px ;
    height: 54px ;
    border: none ;
    color: white ;
    font-size: 15px ;
    font-weight: bold ;
    opacity: 0.9;
    text-align: left;
    padding-left:20px;
    margin-top: 50px;
}
#overlapping-images {
    
    width: 810px;
    height: 100% ;
    display: flex;
    justify-content: end;
}

#content2 {
  
    width: 765px; 
    padding:0 60px 0 160px;
   
  
}

#img-back {
    height: 100%;
   
}

#img-front {
    height: 70%;
    width: 100vh; 
    margin-top: 60px;
    position: relative;
    left: 180px ;
    box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.4);

}

#img-bg {
    height: 400px ;
    width: 600px ;
    position: absolute;
    z-index: -1;
    background-color:lightgray;
    opacity: 0.1;
    border: 2px dotted gray ;
    align-self:flex-end;
    margin: 0 150px 60px 0 ;
    
}
 /* THIRD SECTION - NOW OPEN  */

#third-section {
    height: 450px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  
  
}

#third-section img {
    width: 100% ;
}

#bottom-brush {
    display: flex;
    justify-content: flex-end;
}



#content3 {
    height:100%;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#content3 h2 {
    font-size: 32px ;
    color:#f94545;
}

#content3 h3 {
    font-size: 40px ;
    color: white ;

   
}

#content3 h4 {
    font-size: 18px ;
    color:white;

}


/* FOURTH SECTION - WE LEAD  */
#fourth-section {
    height: 747px;
    background-color: white;
    display: flex ;

    flex-direction: column;
    padding-top: 90px;
}

#content4 {
    width:100% ;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #616161;
}

#fourth-section h2 {
    font-size: 18px ;
}

#fourth-section h3 {
    font-size: 30px ;
}

#flipping-imgs {
    width:100% ;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
   

}

.container1 {
    height: 370px;
    width: 400px ;
    perspective: 800px;
    
   

}

@keyframes flipfront {
    0% {transform: rotateY(0deg);}
    50%{transform: rotateY(-190deg);}
    100% {transform: rotateY(-180deg);}
}

.container1:hover > .flipping-img{
  cursor: grab ;
  animation-delay: 0.1s;
  animation: flipfront 1.5s ;
  transition: transform 0s;
  transform: rotateY(-180deg);
 
}



.flipping-img {
    height: 370px;
    width: 400px ;
    position: relative;
    transform: rotateY(0deg);
    transition: 2s;
    transform-style: preserve-3d;
}

.flipping-img img {
    height: 100% ;
    width: 100% ;
    object-fit: fill ;
    position: absolute;
    filter: brightness(70%);
    z-index: -1;
    
}



.front-content {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 25px ;
    
}

.front, .back {
    height: 100% ;
    width: 100% ;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
   
    backface-visibility: hidden;
}

.back {
    background-color: #5e646a;
    transform: rotateY(180deg);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 0 50px;
   gap: 30px ;

    
}

.yellow-line {
    width: 50px ;
    height: 1.5px;
    border: none;
    background-color: rgb(255,190,0) ;

}

.front h4 {
    font-size: 22px ;
}

.front p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
}

.back p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;

}

.back-red-line {
    width: 30px ;
    height: 5px ;
    border-top: 5px dotted #ed1c24 ;
}

.back-icon {
    color:#ed1c24 ;
    font-size: 40px;
}

/* FOOTER */
#footer {
   
    height: var(--footer-height);
    width: 100%;
    z-index: 10;
    filter:initial;
    
}


#first-footer {
    background-color: #292929;
    height: 468px;
    padding: 90px 340px;
    color: white ;

}

#footer-logo {
   
    align-self: flex-end;
 
}

#logo-socials {
    display: flex ;
    justify-content: space-between;
 
}

#socials  {
 display:flex ;
 height: 45px ;
 justify-content: center;
 align-items: center;
 
}



#socials div {
    display: inline ;
}

#socials p {
  align-self: center;
  font-size: 13px;
}

#social-icons {
    margin-left: 20px ;
    font-size: 14px;
    color:#ed1c24 ;
    align-self: flex-start;
}

.social-icon {
   
    height: 35px ;
    width: 40px ;
    border: 1px solid rgba(255,255,255,0.1);
    text-align: center;
    padding: 10px;
    background: rgba(255,255,255,0.05);
}

.social-icon:hover {
    background-color: white;
    cursor: grab ;
}

#footer-div {
    border: 1px dotted #5e646a ;
    opacity: 40%;
    margin: 25px 0 75px 0;

}

#footer-info{
    display:flex ;
   

}

#footer-info div {
    height: 155px ;


}



#about-us{
    width:75% ;
}

#footer-info h4 {
    color:#ed1c24; ;
    font-size: 18px;
    font-weight: 400;
}

#about-us p {
    color: rgba(255,255,255,0.7); ;
    font-size: 12px;
    font-family: "Roboto", serif;
    margin: 30px 0 20px 0;
    line-height: 1.5;
}

#footer-info h5 {
    color:#ed1c24 ;
    font-size: 13px;
    border-bottom: 1px dotted #5e646a ;
    display: inline;
    padding: 20px 0 2px 0;
}

#footer-info h5:hover {
    color: white ;
    cursor: grab ;
}

#contact {
    width: 25% ;
    
}

#contact div {
    margin: 20px 0 15px 0 ;
    height: auto;
   

}

#contact p {
    margin: 5px 0 ;
    font-size: 13px;
    font-family: "Roboto", serif;
    width: 100% ;
    display: flex;
    align-items:end;
    

    
}

#contact span {
    margin-left: 100px;
    position: absolute;
    font-family: inherit;
}

#second-footer {
    background-color: #222 ;
    width: 100% ;
    height:calc(var(--footer-height) - 468px) ;
    padding: 30px 340px;
    display: flex;
    justify-content: space-between;
    position: relative;
  

}

#copyright {
    color: white ;
    display: inline;
}

.back-top {
    color: #f94545;
    font-size: 14px ;
    position: absolute;
    pointer-events: none;
   
   
    
}

#back-top-container {
    display: flex;
    justify-content: center;
    width: 50px ;
    height: 50px ;
}

.arrow-back {
    display: none;
    color: #f94545;
    font-size: 12px ;
    text-align: center;
    position: relative;
   
}

.arrow-back a:visited {
    color:inherit
}


@keyframes back-top {
    from{top: -15px}
    to{top: 0px} 
}

#back-top-container:hover > .arrow-back {
    display: block;
    animation-name: back-top ;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    cursor: grab;

    
}

#back-top-container:hover > .back-top{
   
  cursor: grab;
  visibility: hidden;
  
}


